.item-circle {
    min-width: 90%;
    min-height: 90%;
    margin: 0 0;
    background-color: #A6ADB4;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-items: center;

    overflow: hidden;
    text-align: center;

    img{
        min-width: 100%;
        min-height: 100%;
    }

    span{
        max-width: 99%;
    }
}

.icon-text {
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    color: #585A5C;
    word-wrap: break-word;


}

.button-view-all-categories {
    float: right;
    background-color: #FA6980;
    margin-right: 54px;
    padding: 8px;
    height: 32px;
    width: 10%;
    color: white;
    border-radius: 2px;
    border-width: 0px;
    font-size: 16px;
}


