.user-account-nav {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #BFC7C7;
  ul {
    display: flex;
    flex-direction: row;

    li {
      list-style-type: none;
      padding: 1rem 1.5rem;
      font-weight: bold;
      color: #616365;
      &:hover{
        user-select: none;
      }
    }


    .underline {
      border-bottom: 4px solid #FA6980;
    }
  }
}